<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953833753093-e21vqo3k17gm5q12lbn9ntvlhibd6r59.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953833753093-e21vqo3k17gm5q12lbn9ntvlhibd6r59</string>
	<key>API_KEY</key>
	<string>AIzaSyDmiSIkznqFKGunZAw_UXbZdcG8Qx2Uj2U</string>
	<key>GCM_SENDER_ID</key>
	<string>953833753093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifloop.NamazTimes</string>
	<key>PROJECT_ID</key>
	<string>namazvakitleri-d1c81</string>
	<key>STORAGE_BUCKET</key>
	<string>namazvakitleri-d1c81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953833753093:ios:3a9d9cc6c61613895daa6c</string>
</dict>
</plist>