<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317751410981-1nm6306c6p4ri8bj3tor5kddcdb2nqbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317751410981-1nm6306c6p4ri8bj3tor5kddcdb2nqbi</string>
	<key>API_KEY</key>
	<string>AIzaSyB20l5FM79p-Qh1yfTlZd-aBlNXKwQ09A0</string>
	<key>GCM_SENDER_ID</key>
	<string>317751410981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.suhaKarakaya.NamazVakitleri</string>
	<key>PROJECT_ID</key>
	<string>namazvakitleri-ef441</string>
	<key>STORAGE_BUCKET</key>
	<string>namazvakitleri-ef441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317751410981:ios:f5010dd9b9562cb659dacc</string>
</dict>
</plist>